/* html {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
html::-webkit-scrollbar {
    width: 0;
    height: 0;
} */
img { 
    max-width: 100%;
}
.bodyindent { 
    padding-left: 2%; 
    padding-right: 2%; 
}
.jumbotron-center {
    background-color: white;
    text-align: center;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}