---
layout: default
title: 博客
---

<div id="container">
    <header>
        <h1>博客 / 随笔 / 踩坑</h1>
        {% include mininav.html %}
    </header>
    <div id="grid" data-columns class="cols">
        {% for post in site.posts %}
        <div class="box" style="background-color:#{{post.color}}">
            {% if post.img %}
            <a href="{{post.url | prepend: site.baseurl}}">
            <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
            </a>
            {% endif %}
            <div class="container">
                <h3>{{post.title}}</h3>
                <p>{{post.description}}</p>
                <div class="action">{{ post.date | date: '%Y年%m月%d日' }}<a href="{{post.url | prepend: site.baseurl}}"><i class="fa fa-arrow-right" aria-hidden="true">&nbsp;阅读</i></a></div> 
            </div>   
        </div>
      {% endfor %}
   </div>
</div>
    
<script src="{{site.baseurl}}/js/salvattore.min.js"></script>
