<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Damage Control Studio" />
        <link rel="shortcut icon" href="/favicon.ico">
        <title>控损 | Damage Control Studio</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
        <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
        <style> #bodyindent { padding-left: 5%; padding-right: 5%; } img { max-width: 100%;}</style>