---
layout: default
---

<div class="page-container" style="zoom:120%;">
    <div class="content" >
    <article>
        <h1 class="page-title">{{page.title}}</h1>
        {% if page.author %}
        <div class="meta"><span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: '%Y年%m月%d日'}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{page.author}}</span></div>
        {% endif %}
        {% include mininav.html %}
        {{page.content | markdownify}}
    </article>

    <!-- 打赏链接、广告、评论 -->

    </div>
</div>
